
<div>
    <nav class="navbar navbar-default">
          <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Quick Start {{vm.loggedIn}}</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a ui-sref="home.route1">Route 1</a></li>
                <li><a ui-sref="home.route2">Route 2</a></li>
                <li><a ui-sref="home.item">New item</a></li>
    
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li ng-show="vm.loggedIn"><a ui-sref="home.account">{{vm.fullName}}</a></li>
                <li ng-show="!vm.loggedIn"><a ui-sref="home.login">Login</a></li>
              </ul>
        </div>
    </nav> 
</div>
<div class="col-md-6 col-md-offset-3">
    <ui-view></ui-view>
</div>